// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}

.user-schedule {
  margin-top: 50px;
}

.event-info {
  margin: 5px 150px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.user-info {
  margin-top: 50px;
  text-align: center;
  font-weight: lighter;
}
