// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Muli', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  margin: 0px;
  background-color: rgba(0,0,0,0.92)
}

.user-schedule {
  margin-top: 50px;
}

.event-info {
  margin: 5px 150px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(255,255,255,0.8);
}

.user-info {
  margin-top: 50px;
  text-align: center;
  font-weight: 400;
  color: rgba(255,255,255,0.8);
}

.wrapper {
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-btn {
  width: 120px;
  border: 3px solid rgba(9, 182, 32, 1);
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px 0;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0px 0px 30px black;
    transform: scale(1.05);
  }
}

.new_user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}

.email.optional {
  margin-bottom: 15px;
}

.password {
  margin-bottom: 15px;
}

.file {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}
